.nav-link {
  color: #212A34;
}

.navbar_setting {
  height: 100px;
  align-items: center;
}

.header_login_button {
  border: 2px solid #212A34;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 15px 50px !important;
  width: fit-content;
}

.color_green {
  color: #11b2a8;
}

.text-gradient {
  background: linear-gradient(90deg, #11b2a8, #147774);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom_button {
  border-radius: 12px;
  width: 130px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  &.green {
    background-color: #11b2a8;
  }
  &.grey {
    background-color: #212A34;;
  }
}

.img_1{
  border-top-left-radius: 50%;
}
.img_2{
  border-bottom-left-radius: 50%;
  text-align: end;
}
.img_3{
  border-bottom-left-radius: 50%;
}
.img_4{
  border-radius: 20%;
}
.img_5{
  border-top-right-radius: 50%;
}
.img_6{
  border-bottom-right-radius: 50%;
}

li {
  span {
    padding-left: 10px;
  };
}